.preloader {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
